<a href="https://colab.research.google.com/github/fahmiajik12/Python/blob/Master/data_preprosesJbr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Load Dataset

In [4]:
#Koneksi ke Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
#Load Data From Local File
data=pd.read_csv('data.csv')

Data Understanding

In [9]:
#See the first five data 
data.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_banjir,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,KEJADIAN,2012
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,20,KEJADIAN,2012
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,1,KEJADIAN,2012
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,17,KEJADIAN,2012
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,7,KEJADIAN,2012

In [10]:
# see the number of row and number of columns of data
data.shape

(270, 8)

In [11]:
#Understanding each variable
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   270 non-null    int64
 1   kode_provinsi        270 non-null    int64
 2   nama_provinsi        270 non-null    object
 3   kode_kabupaten_kota  270 non-null    int64
 4   nama_kabupaten_kota  270 non-null    object
 5   jumlah_banjir        270 non-null    int64
 6   satuan               270 non-null    object
 7   tahun                270 non-null    int64
dtypes: int64(5), object(3)
memory usage: 17.0+ KB

In [12]:
#see a statistical summary of variables with numeric types
data.describe()

,id,kode_provinsi,kode_kabupaten_kota,jumlah_banjir,tahun
count,270.000000,270.0,270.000000,270.000000,270.000000
mean,135.500000,32.0,3231.333333,7.237037,2016.500000
std,78.086491,0.0,31.259794,10.113635,2.877615
min,1.000000,32.0,3201.000000,0.000000,2012.000000
25%,68.250000,32.0,3207.000000,1.000000,2014.000000
50%,135.500000,32.0,3214.000000,4.000000,2016.500000
75%,202.750000,32.0,3273.000000,9.750000,2019.000000
max,270.000000,32.0,3279.000000,75.000000,2021.000000

Data Cleaning and Preprocessing

Check Dulpicate Data

In [13]:
#Drop duplicate value
data=data.drop_duplicates()

In [14]:
#see changes in the number of rows and columns after the duplicate drop
data.shape

(270, 8)

Check Data Types

In [15]:
#Check data type
data.dtypes

id                      int64
kode_provinsi           int64
nama_provinsi          object
kode_kabupaten_kota     int64
nama_kabupaten_kota    object
jumlah_banjir           int64
satuan                 object
tahun                   int64
dtype: object

In [16]:
#Check the missing value
data.isnull().sum()

id                     0
kode_provinsi          0
nama_provinsi          0
kode_kabupaten_kota    0
nama_kabupaten_kota    0
jumlah_banjir          0
satuan                 0
tahun                  0
dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder

Id_col = ['id']
num_cols = ['jumlah_banjir','satuan']

bin_cols = ['nama_kabupaten_kota','nama_provinsi','satuan']

le = LabelEncoder()
for i in bin_cols :
  data[i] = le.fit_transform(data[i])

#data=pd.get_dummies(data=data,columns = multi_cols,drop_first=True)

In [19]:
data

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_banjir,satuan,tahun
0,1,32,0,3201,3,0,0,2012
1,2,32,0,3202,15,20,0,2012
2,3,32,0,3203,5,1,0,2012
3,4,32,0,3204,0,17,0,2012
4,5,32,0,3205,7,7,0,2012
...,...,...,...,...,...,...,...,...
265,266,32,0,3275,20,14,0,2021
266,267,32,0,3276,24,3,0,2021
267,268,32,0,3277,22,6,0,2021
268,269,32,0,3278,26,2,0,2021
269,270,32,0,3279,19,1,0,2021

In [20]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(data,test_size=0.20,random_state=111)

train_X = train.drop(labels='nama_kabupaten_kota',axis=1)
train_Y = train['nama_kabupaten_kota']
test_X  = test.drop(labels='nama_kabupaten_kota',axis=1)
test_Y  = test['nama_kabupaten_kota']

In [21]:
from imblearn.over_sampling import SMOTE

#handle imbalance class using oversampling minority class with smote methode
os = SMOTE(sampling_strategy='minority', random_state = 123,k_neighbors=5)
train_smote_X, train_smote_Y = os.fit_resample(train_X, train_Y)
train_smote_X = pd.DataFrame(data = train_smote_X, columns=train_X.columns)
train_smote_Y = pd.DataFrame(data = train_smote_Y)

In [22]:
train_Y.value_counts()

22    10
4     10
3      9
9      9
11     9
25     9
2      9
7      8
13     8
23     8
0      8
17     8
1      8
18     8
24     8
16     8
19     8
14     8
26     8
6      7
15     7
21     7
12     7
20     7
8      7
10     7
5      6
Name: nama_kabupaten_kota, dtype: int64

In [23]:
train_smote_Y.value_counts()

nama_kabupaten_kota
4                      10
5                      10
22                     10
2                       9
3                       9
25                      9
9                       9
11                      9
0                       8
16                      8
24                      8
23                      8
19                      8
18                      8
17                      8
13                      8
14                      8
1                       8
7                       8
26                      8
15                      7
12                      7
20                      7
21                      7
10                      7
8                       7
6                       7
dtype: int64